<!-- BEGIN FOOTER -->
<footer class="footer">
    <div class="footer__main wrapper">
        <div class="footer__top">
            <div class="footer__cols">
                <div class="footer__col">
                    <a class="footer-logo logo" href="#">
                        <img class="logo__image" src="~/img/logo_text.svg" alt="">
                    </a>
                    <span class="footer-description">
                        Cillum eu id enim aliquip aute ullamco anim. <br>Culpa
                        deserunt nostrud excepteur voluptate.
                    </span>
                    <div class="footer-line"></div>
                </div>
                <div class="footer__col">
                    <nav class="footer-nav">
                        <div class="footer-nav__col">
                            <span class="footer-title">About</span>
                            <ul class="footer-nav__list">
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="about.html">About us</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="collections.html">Collections</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="shop.html">Shop</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="blog.html">Blog</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="contacts.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-nav__col">
                            <span class="footer-title">Socials</span>
                            <ul class="footer-nav__list">
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Facebook</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Instagram</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">LinkedIn</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Portfolio</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="faq.html">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer__col">
                    <span class="footer-title">Newsletter</span>
                    <span class="footer-description">
                        Subscribe to be the first to hear about
                        deals,&nbsp;&nbsp;offers and upcoming collections.
                    </span>
                    <form>
                        <div class="subscription">
                            <input class="subscription__input" type="email" placeholder="Enter your email">
                            <button class="subscription__button" type="submit"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__cols">
                <div class="footer__left">
                    <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                </div>
                <div class="footer__right">
                    <div class="payments">
                        <div class="payments__col">
                            <span class="payments__text">Payment methods:</span>
                        </div>
                        <div class="payments__col">
                            <ul class="payments__list">
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_1.png">
                                </li>
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_2.png">
                                </li>
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_3.png">
                                </li>
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_4.png">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="footer__bg-left"
             src="~/img/svg/vector-footer-left.svg"
             data-lazy="/img/svg/vector-footer-left.svg" alt="">
        <img class="footer__bg-right"
             src="~/img/svg/vector-footer-right.svg"
             data-lazy="/img/svg/vector-footer-right.svg" alt="">
    </div>
</footer>
<!-- FOOTER END -->