<!-- BEGIN FOOTER -->
<footer class="footer">
    <div class="footer__main wrapper">
        <div class="footer__top">
            <div class="footer__cols">
                <div class="footer__col">
                    <a class="footer-logo logo" href="#">
                        <img class="logo__image" src="https://via.placeholder.com/82x17" alt="">
                    </a>
                    <span class="footer-description">
                        Cillum eu id enim aliquip aute ullamco anim. <br>Culpa
                        deserunt nostrud excepteur voluptate.
                    </span>
                    <div class="footer-line"></div>
                    <div class="socials">
                        <span class="socials__text">Find us here:</span>
                        <ul class="socials__list">
                            <li class="socials__item">
                                <a class="socials__link" href="#">Fb</a>
                            </li>
                            <li class="socials__item">
                                <a class="socials__link" href="#">Tw</a>
                            </li>
                            <li class="socials__item">
                                <a class="socials__link" href="#">Ins</a>
                            </li>
                            <li class="socials__item">
                                <a class="socials__link" href="#">Pt</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__col">
                    <nav class="footer-nav">
                        <div class="footer-nav__col">
                            <span class="footer-title">About</span>
                            <ul class="footer-nav__list">
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="about.html">About us</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="collections.html">Collections</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="shop.html">Shop</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="blog.html">Blog</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="contacts.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-nav__col">
                            <span class="footer-title">Useful links</span>
                            <ul class="footer-nav__list">
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Privacy Policy</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Terms of use</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Support</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="#">Shipping details</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a class="footer-nav__link" href="faq.html">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer__col">
                    <span class="footer-title">Newsletter</span>
                    <span class="footer-description">
                        Subscribe to be the first to hear about
                        deals,&nbsp;&nbsp;offers and upcoming collections.
                    </span>
                    <form>
                        <div class="subscription">
                            <input class="subscription__input" type="email" placeholder="Enter your email">
                            <button class="subscription__button" type="submit"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__cols">
                <div class="footer__left">
                    <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                </div>
                <div class="footer__right">
                    <div class="payments">
                        <div class="payments__col">
                            <span class="payments__text">Payment methods:</span>
                        </div>
                        <div class="payments__col">
                            <ul class="payments__list">
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_1.png" data-lazy="https://via.placeholder.com/34x20">
                                </li>
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_2.png" data-lazy="https://via.placeholder.com/34x20">
                                </li>
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_3.png" data-lazy="https://via.placeholder.com/34x20">
                                </li>
                                <li class="payments__item">
                                    <img class="payments__image" alt=""
                                         src="~/img/payment_4.png" data-lazy="https://via.placeholder.com/34x20">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="footer__bg-left"
             src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
             data-lazy="assets/img/svg/vector-footer-left.svg" alt="">
        <img class="footer__bg-right"
             src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
             data-lazy="assets/img/svg/vector-footer-right.svg" alt="">
    </div>
</footer>
<!-- FOOTER END -->