@using StoreFront.Domain.Constants
@{
    var isAuthen = User.Identity?.IsAuthenticated;
}
<!-- BEGIN HEADER -->
<header class="header">
    <div class="header__main">
        <div class="header__cols">
            <div class="header__left">
                <div class="header__cols">
                    <div class="header__col">
                        <button class="mob-button js-mob-open">
                            <span class="mob-button__icon"></span>
                        </button>
                    </div>
                    <div class="header__col">
                        <a class="logo" href="#">
                            <h4 style="margin-top: -0.2rem">FASHION</h4>
                        </a>
                    </div>
                    <div class="header__col header__col_hide-mob">
                        <nav class="header-nav">
                            <ul class="header-nav__list">
                                <li class="header-nav__item">
                                    <a class="header-nav__link" href="/">Home</a>
                                </li>
                                <li class="header-nav__item">
                                    <a class="header-nav__link"
                                       href="/products">shop</a>
                                </li>
                                <li class="header-nav__item">
                                    <a class="header-nav__link"
                                       href="/categories">Category</a>
                                </li>
                                <li class="header-nav__item">
                                    <a class="header-nav__link" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <ul class="user-nav">
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="#">
                            <span class="user-nav__icon user-nav__icon_1"></span>
                        </a>
                    </li>
                    <li class="user-nav__item header-nav__item js-nav-item">
                        <a class="user-nav__link header-nav__link_arrow js-nav-button" href="#">
                            <span class="user-nav__icon user-nav__icon_2"></span>
                        </a>
                        <div class="hide-nav js-nav-hide">
                            <ul class="hide-nav__list">
                                @if (!isAuthen ?? true) {
                                    <li class="hide-nav__item">
                                        <a class="hide-nav__link" asp-page="@PageConstants.AuthenPage" asp-page-handler="Login">Login</a>
                                    </li>
                                    <li class="hide-nav__item">
                                        <a class="hide-nav__link" href="registration.html">Registration</a>
                                    </li>
                                } else {
                                    <li class="hide-nav__item">
                                        <a class="hide-nav__link" href="/account">Account</a>
                                    </li>
                                    <li class="hide-nav__item">
                                        <a class="hide-nav__link" asp-page="@PageConstants.AuthenPage" asp-page-handler="Logout">Logout</a>
                                    </li>
                                }
                                
                            </ul>
                        </div>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="#">
                            <span class="user-nav__icon user-nav__icon_3"></span>
                            <span class="user-nav__text">0</span>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="#">
                            <span class="user-nav__icon user-nav__icon_4"></span>
                            <span class="user-nav__text">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->