@page "/checkout"
@model StoreFront.Pages.Main.CheckoutPage.IndexModel
@using StoreFront.Domain.Constants
@using StoreFront.Domain.Models.PageModels

@{
    ViewData["Title"] = "Check out";
}


<main class="main">

    @await Html.PartialAsync(PageConstants.Breadcrumb, new BreadcrumbViewModel()
    {
        Item = "Product",
        Url = PageConstants.ShopPage,
        Title = "Product Detail"
    })

    <!-- BEGIN CHECKOUT -->
    <div class="checkout-page wrapper">

        <div class="checkout-nav">
            <div class="checkout-nav__item active current" data-step="1">
                <span class="checkout-nav__text">order details</span>
            </div>
            <div class="checkout-nav__item" data-step="2">
                <span class="checkout-nav__text">payment method</span>
            </div>
            <div class="checkout-nav__item" data-step="3">
                <span class="checkout-nav__text">finish</span>
            </div>
        </div>

        <div class="checkout-page__cols">

            <div class="checkout-page__left">
                <div id="step1" class="checkout-step active">
                    @{
                        await Html.RenderPartialAsync(PageConstants.CheckoutDetail);
                    }
                </div>
                <div id="step2" class="checkout-step active">
                    @{
                        await Html.RenderPartialAsync(PageConstants.CheckoutPaymentmethod);
                    }
                </div>
                <div id="step3" class="checkout-step active">
                    @{
                        await Html.RenderPartialAsync(PageConstants.CheckoutComplete);
                    }
                </div>
            </div>

            <aside class="checkout-page__right">
                @{
                    await Html.RenderPartialAsync(PageConstants.CheckoutOverview);
                }
            </aside>
            

        </div>

    </div>
    <!-- CHECKOUT END -->

</main>

@{
    ViewData["Scripts"] = new List<string>
    {
        "~/js/checkout.js",
    };
}
