<aside class="profile-page__right">

    <form>
        <section class="newsletter-block">
            <h3 class="newsletter-block__title">Newsletter</h3>
            <p class="newsletter-block__text">Subscribe to be the first to hear about deals, offers and upcoming collections.</p>
            <input class="newsletter-block__input text-input" type="email" placeholder="Enter your email">
            <button class="newsletter-block__button button">
                <span class="button__text">Subscribe</span>
            </button>
        </section>
    </form>

    <section class="sale-banner sale-banner_changed">
        <div class="sale-banner__all">
            <div class="sale-banner__row">
                <div class="sale-banner__cell">
                    <div class="sale-banner__content">
                        <h4 class="sale-banner__title">Season <span>sale</span></h4>
                        <p class="sale-banner__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla</p>
                        <a class="sale-banner__more read-more" href="shop.html">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sale-banner__border"></div>
        <div class="sale-banner__image" data-bg="img/collections/collections-image_2.jpg"></div>
        <a class="sale-banner__link" href="/products"></a>
    </section>

</aside>