@page "/"
@using StoreFront.Domain.Constants
@model HomePageModel
@{
    ViewData["Title"] = "Home";
}

@{
    ViewData["Styles"] = new List<string>
    {
        "~/css/product.css"
    };
}

<main class="main">

            <!-- BEGIN FIRST SCREEN -->
            <div class="first-screen">
                <div class="first-screen__left">
                    <div class="first-screen__mob-cols">
                        <div class="first-screen__mob-col">
                            <div class="slider-count">
                                <span class="slider-count__text js-main-count"><span>1</span>/3</span>
                            </div>
                        </div>
                        <div class="first-screen__mob-col">
                            <ul class="first-screen__socials side-socials">
                                <li class="side-socials__item">
                                    <a class="side-socials__link" href="#">FB</a>
                                </li>
                                <li class="side-socials__item">
                                    <a class="side-socials__link" href="#">TW</a>
                                </li>
                                <li class="side-socials__item">
                                    <a class="side-socials__link" href="#">INS</a>
                                </li>
                                <li class="side-socials__item">
                                    <a class="side-socials__link" href="#">PT</a>
                                </li>
                            </ul>
                        </div>
                        <div class="first-screen__mob-col js-to-1"></div>
                    </div>
                </div>
                <div class="first-screen__center">
                    <div class="main-slider">
                        <div class="main-slider__list-wrap">
                            <div class="main-slider__list js-main-slider loaded">
                                <div class="main-slider__item js-slide active">
                                    <div class="main-slider__max">
                                        <div class="main-slider__row">
                                            <div class="main-slider__cell">
                                                <div class="main-slider__content">
                                                    <span class="main-slider__subtitle category-subtitle"><b>new</b>
                                                        collection</span>
                                                    <h2 class="main-slider__title">meet New <br>Fashion week</h2>
                                                    <a class="main-slider__button button" href="shop.html">
                                                        <span class="button__text">Shop now</span>
                                                    </a>
                                                </div>
                                                <div class="main-slider__image-wrap">
                                                    <div class="main-slider__image"
                                                 data-bg="img/banners/banner1.jpg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-slider__item js-slide">
                                    <div class="main-slider__max">
                                        <div class="main-slider__row">
                                            <div class="main-slider__cell">
                                                <div class="main-slider__content">
                                                    <span class="main-slider__subtitle category-subtitle"><b>new</b>
                                                        collection</span>
                                                    <h2 class="main-slider__title">meet New <br>Fashion week</h2>
                                                    <a class="main-slider__button button" href="shop.html">
                                                        <span class="button__text">Shop now</span>
                                                    </a>
                                                </div>
                                                <div class="main-slider__image-wrap">
                                                    <div class="main-slider__image"
                                                 data-bg="img/banners/banner2.jpg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-slider__item js-slide">
                                    <div class="main-slider__max">
                                        <div class="main-slider__row">
                                            <div class="main-slider__cell">
                                                <div class="main-slider__content">
                                                    <span class="main-slider__subtitle category-subtitle"><b>new</b>
                                                        collection</span>
                                                    <h2 class="main-slider__title">meet New <br>Fashion week</h2>
                                                    <a class="main-slider__button button" href="shop.html">
                                                        <span class="button__text">Shop now</span>
                                                    </a>
                                                </div>
                                                <div class="main-slider__image-wrap">
                                                    <div class="main-slider__image"
                                                 data-bg="img/banners/banner3.jpg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-slider__bg-wrap">
                            <img class="main-slider__bg"
                                src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                data-lazy="img/svg/vector-first-screen.svg" alt="">
                            <div class="scroll-down">
                                <span class="scroll-down__icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first-screen__right js-from-1">
                    <div class="slider-dots dots-1 js-main-dots"></div>
                    <div class="slider-arrows arrows-1 js-main-arrows js-content-1"></div>
                </div>
            </div>
            <!-- FIRST SCREEN END -->

            <!-- BEGIN COLLECTION -->
            <section class="collection-block wrapper">
                <div class="collection-block__content">
                    <div class="collections">
                        <div class="collections__top">
                            <div class="collections__max">
                                <h3 class="collection-title">
                                    <span class="collection-title__count">2587</span>
                                    <span class="collection-title__plus">+</span>
                                    <span class="collection-title__text">Products for you</span>
                                </h3>
                            </div>
                        </div>
                        <article class="collection collection_1">
                            <div class="collection__all">
                                <div class="collection__mob-image">
                                    <a class="collection__image" data-bg="img/collections/collections-image_1.jpg"
                                        href="#"></a>
                                    <span class="collection__category">accessories</span>
                                </div>
                                <div class="collection__row">
                                    <div class="collection__cell">
                                        <div class="collection__content">
                                            <span class="collection__subtitle category-subtitle"><b>new</b>
                                                accessories</span>
                                            <h4 class="collection__title">Fashion for <br>this summer</h4>
                                            <a class="collection__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="collection__link" href="shop.html"></a>
                            </div>
                        </article>
                        <article class="season-sale">
                            <div class="season-sale__all">
                            <div class="season-sale__image" data-bg="img/collections/collections-image_2.jpg"></div>
                                <div class="season-sale__row">
                                    <div class="season-sale__cell">
                                        <div class="season-sale__content">
                                            <h4 class="season-sale__title">season <span>sale</span></h4>
                                            <p class="season-sale__text">Non aliqua reprehenderit reprehenderit culpa
                                                laboris nulla</p>
                                            <a class="season-sale__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="season-sale__link" href="shop.html"></a>
                            </div>
                        </article>
                        <article class="collection collection_2">
                            <div class="collection__all">
                                <div class="collection__mob-image">
                                <a class="collection__image" data-bg="img/collections/collections-image_3.jpg"
                                        href="#"></a>
                                    <span class="collection__category">sweters</span>
                                </div>
                                <div class="collection__row">
                                    <div class="collection__cell">
                                        <div class="collection__content">
                                            <span class="collection__subtitle category-subtitle"><b>men</b>
                                                collection</span>
                                            <h4 class="collection__title">new Autumn <br>arrivals 2020</h4>
                                            <a class="collection__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="collection__link" href="shop.html"></a>
                            </div>
                        </article>
                        <article class="collection collection_3">
                            <div class="collection__all">
                                <div class="collection__mob-image">
                                    <a class="collection__image" data-bg="img/collections/collections-image_4.jpg"
                                        href="#"></a>
                                    <span class="collection__category">dresses</span>
                                </div>
                                <div class="collection__row">
                                    <div class="collection__cell">
                                        <div class="collection__content">
                                            <span class="collection__subtitle category-subtitle"><b>women</b>
                                                collection</span>
                                            <h4 class="collection__title">Trendy look <br>for every day</h4>
                                            <a class="collection__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="collection__link" href="shop.html"></a>
                            </div>
                        </article>
                        <div class="collections__bottom">
                            <div class="collections__max">
                                <h3 class="collection-title">
                                    <span class="collection-title__count">5649</span>
                                    <span class="collection-title__plus">+</span>
                                    <span class="collection-title__text">Satisfied clients</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="load-more">
                        <a class="button" href="collections.html">
                            <span class="button__text">View all collections</span>
                        </a>
                    </div>
                </div>
                <img class="collection-block__bg-left"
                    src="img/svg/vector-collections.svg" alt="">
                <img class="collection-block__bg-right"
                    src="img/svg/vector-collections.svg" alt="">
            </section>
            <!-- COLLECTION END -->

            <!-- BEGIN PRODUCTS -->
            @await Component.InvokeAsync(PageConstants.FeaturedProduct);
            <!-- PRODUCTS END -->

            <!-- BEGIN DEAL OF THE WEEK -->
            <section class="deal-block">
                <div class="deal-block__cols">
                    <div class="deal-block__col">
                        <div class="deal-block__image" data-bg="img/collections/deal-of-the-week.jpg"></div>
                        <div class="deal-block__content">
                            <div class="deal-block__row">
                                <div class="deal-block__cell">
                                    <span class="deal-block__subtitle category-subtitle"><b>deal</b> of the week</span>
                                    <h3 class="deal-block__title">Stay warm <br>and trendy</h3>
                                    <div class="timer js-timer"></div>
                                    <a class="deal-block__button button" href="shop.html">
                                        <span class="button__text">Shop now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img class="deal-block__bg"
                            src="img/svg/vector-deal.svg" alt="">
                    </div>
                </div>
            </section>
            <!-- BEGIN DEAL OF THE WEEK END -->

            <!-- BEGIN ADVANTAGES -->
            <div class="advantages wrapper">
                <div class="advantages__list">
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="~/img/svg/advantages-icon_1.svg" alt="">
                            </div>
                            <h4 class="advantage__title">Free Shipping</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim
                                anim velit</p>
                        </div>
                        <img class="advantage__bg"
                            src="img/svg/vector-advantages.svg" alt="">
                    </article>
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="~/img/svg/advantages-icon_2.svg" alt="">
                            </div>
                            <h4 class="advantage__title">24/7 Customer Service</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim
                                anim velit </p>
                        </div>
                        <img class="advantage__bg"
                            src="img/svg/vector-advantages.svg" alt="">
                    </article>
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon"
                                    src="~/img/svg/advantages-icon_3.svg" alt="">
                            </div>
                            <h4 class="advantage__title">Money Back Guarantee</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim
                                anim velit </p>
                        </div>
                        <img class="advantage__bg"
                            src="img/svg/vector-advantages.svg" alt="">
                    </article>
                </div>
            </div>
            <!-- ADVANTAGES END -->

            <!-- BEGIN BEST SELLERS -->
            @await Component.InvokeAsync(PageConstants.BestSellerProduct);
            <!-- BEST SELLERS END -->

        </main>


@* Import script *@
@{
    ViewData["Scripts"] = new List<string>
    {
        "~/js/slick.js",
        "~/js/syotimer.js",
        "~/js/product.js"
    };
}

