@model StoreFront.Pages.Main.CheckoutPage.IndexModel

<form id="paymentMethodForm">
    <section class="checkout-form">
        <h2 class="checkout-form__title">payment method</h2>
        <div class="payment">
            <div class="payment__list">
                <div class="payment__radio radio">
                    <label class="radio__label">
                        <input class="radio__input" type="radio" value="Cash" asp-for="PaymentMethod" checked>
                        <span class="radio__icon"></span>
                        <span class="radio__text">Cash</span>
                    </label>
                </div>
                <div class="payment__radio radio">
                    <label class="radio__label">
                        <input class="radio__input" type="radio" name="payment" disabled>
                        <span class="radio__icon"></span>
                        <span class="radio__text">Momo</span>
                    </label>
                </div>
                <div class="payment__radio radio">
                    <label class="radio__label">
                        <input class="radio__input" name="payment" type="radio" disabled>
                        <span class="radio__icon"></span>
                        <span class="radio__text">Vnpay</span>
                    </label>
                </div>
                <div class="payment__radio radio">
                    <label class="radio__label">
                        <input class="radio__input" name="payment" type="radio" disabled>
                        <span class="radio__icon"></span>
                        <span class="radio__text">Zalopay</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="checkout-form__buttons">
            <div class="checkout-form__button-col">
                <a class="checkout-form__back back-button" id="backToStep1"
                   href="#">return</a>
            </div>
            <div class="checkout-form__button-col">
                <button type="submit" class="checkout-form__button button">
                    <span class="button__text">confirm order</span>
                </button>
            </div>
        </div>
    </section>
</form>