@using StoreFront.Domain.Constants
@using StoreFront.Application.Extensions
@using StoreFront.Domain.Models.UserModels.Responses
@model StoreFront.Pages.Main.CheckoutPage.IndexModel

@{
    var user = Context.Session.GetCurrentUser<AuthorResponse>();
}

<div id="orderDetailsForm">
    <section class="checkout-form">
        <h2 class="checkout-form__title">Contact person</h2>
        <div class="checkout-form__cols">
            <div class="checkout-form__col">
                <input class="text-input" type="text" value="@user.FirstName" asp-for="FirstName" placeholder="Enter your name">
            </div>
            <div class="checkout-form__col">
                <input class="text-input" type="text" value="@user.LastName" asp-for="LastName"  placeholder="Enter last name">
            </div>
        </div>
        <div class="checkout-form__cols">
            <div class="checkout-form__col">
                <input class="text-input" type="tel" placeholder="Enter your phone">
            </div>
            <div class="checkout-form__col">
                <input class="text-input" type="email" value="@User.GetEmailFromToken()" placeholder="Enter your email">
            </div>
        </div>
        <div class="checkout-form__checkboxes">
            <div class="checkout-form__checkbox checkbox">
                <label class="checkbox__label">
                    <input class="checkbox__input" type="checkbox">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">
                        I agree with the <a href="#">
                            privacy
                            policy
                        </a>
                    </span>
                </label>
            </div>
        </div>
    </section>

    <section class="checkout-form">
        <h2 class="checkout-form__title">Delivery address</h2>
        <textarea class="checkout-form__textarea textarea"
                  placeholder="Enter your address to the order" asp-for="Address"></textarea>
        <div class="checkout-form__buttons">
            <div class="checkout-form__button-col">
                <a class="checkout-form__back back-button" href="/carts">return</a>
            </div>
            <div class="checkout-form__button-col">
                <button type="button" class="checkout-form__button button"
                        id="continueToStep2">
                    <span class="button__text">continue</span>
                </button>
            </div>
        </div>
    </section>
</div>