<div class="checkout-page__left" id="checkout-completion">

    <section class="thanks">
        <div class="thanks__top">
            <h2 class="thanks__title">Thanks for your purchase!</h2>
            <p class="thanks__top-text">Everything went well, wait for the order to arrive at the time specified in the order.</p>
        </div>
        <p class="thanks__text">Approximate arrival via...</p>
        <div class="timer js-timer"></div>
    </section>

</div>