<form id="orderDetailsForm">
    <section class="checkout-form">
        <h2 class="checkout-form__title">Contact person</h2>
        <div class="checkout-form__cols">
            <div class="checkout-form__col">
                <input class="text-input" type="text" placeholder="Enter your name">
            </div>
            <div class="checkout-form__col">
                <input class="text-input" type="text" placeholder="Enter last name">
            </div>
        </div>
        <div class="checkout-form__cols">
            <div class="checkout-form__col">
                <input class="text-input" type="tel" placeholder="Enter your phone">
            </div>
            <div class="checkout-form__col">
                <input class="text-input" type="email" placeholder="Enter your email">
            </div>
        </div>
        <div class="checkout-form__checkboxes">
            <div class="checkout-form__checkbox checkbox">
                <label class="checkbox__label">
                    <input class="checkbox__input" type="checkbox">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">
                        I agree with the <a href="#">
                            privacy
                            policy
                        </a>
                    </span>
                </label>
            </div>
        </div>
    </section>

    <section class="checkout-form">
        <h2 class="checkout-form__title">Delivery address</h2>
        <div class="checkout-form__cols">
            <div class="checkout-form__col">
                <div class="selectize">
                    <select class="js-selectize-country">
                        <option>Country name 1</option>
                        <option>Country name 2</option>
                        <option>Country name 3</option>
                        <option>Country name 4</option>
                        <option>Country name 5</option>
                        <option>Country name 6</option>
                        <option>Country name 7</option>
                        <option>Country name 8</option>
                        <option>Country name 9</option>
                        <option>Country name 10</option>
                    </select>
                </div>
            </div>
            <div class="checkout-form__col">
                <div class="selectize">
                    <select class="js-selectize-city">
                        <option>City name 1</option>
                        <option>City name 2</option>
                        <option>City name 3</option>
                        <option>City name 4</option>
                        <option>City name 5</option>
                        <option>City name 6</option>
                        <option>City name 7</option>
                        <option>City name 8</option>
                        <option>City name 9</option>
                        <option>City name 10</option>
                    </select>
                </div>
            </div>
        </div>
        <input class="text-input" type="text" placeholder="Enter the delivery address">
        <div class="checkout-form__cols">
            <div class="checkout-form__col">
                <input class="text-input" type="text" placeholder="Desired delivery day">
            </div>
            <div class="checkout-form__col">
                <input class="text-input" type="text" placeholder="Desired delivery time">
            </div>
        </div>
        <textarea class="checkout-form__textarea textarea"
                  placeholder="Enter your comment to the order"></textarea>
        <div class="checkout-form__checkboxes">
            <div class="checkout-form__checkbox checkbox">
                <label class="checkbox__label">
                    <input class="checkbox__input" type="checkbox">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Create an account</span>
                </label>
            </div>
            <div class="checkout-form__checkbox checkbox">
                <label class="checkbox__label">
                    <input class="checkbox__input" type="checkbox">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Don't call me, I'm sure of the order</span>
                </label>
            </div>
        </div>
        <div class="captcha">
            <img alt="" src="assets/img/examples/captcha.png">
        </div>
        <div class="checkout-form__buttons">
            <div class="checkout-form__button-col">
                <a class="checkout-form__back back-button" href="/carts">return</a>
            </div>
            <div class="checkout-form__button-col">
                <button type="button" class="checkout-form__button button"
                        id="continueToStep2">
                    <span class="button__text">continue</span>
                </button>
            </div>
        </div>
    </section>
</form>