@page "/products"
@model ShopPageModel
@using StoreFront.Domain.Constants
@using StoreFront.Domain.Models.PageModels
@{
    ViewData["Title"] = "Shop";
}

@{
    ViewData["Styles"] = new List<string>
    {
        "~/css/product.css",
    };
}

<main class="main">

    @await Html.PartialAsync(PageConstants.Breadcrumb, new BreadcrumbViewModel() {
        Item = "Home",
        Url = PageConstants.HomePage,
        Title = "Shop"
    })

    <!-- BEGIN SHOP -->
    <div class="shop wrapper">
        <div class="shop__cols">

            @{
                await Html.RenderPartialAsync(PageConstants.ShopFilter);
            }

            <div class="shop__right">

                <div class="shop-panel">
                    <div class="shop-panel__left">
                        <span class="shop-panel__text">There are <b>@Model.Products.Metadata.TotalCount</b> products in&nbsp;this&nbsp;category</span>
                    </div>
                    <div class="shop-panel__right">
                        <div class="shop-panel__select select select_1">
                            <select class="js-formstyler">
                                <option>By relevance</option>
                                <option>By relevance</option>
                                <option>By relevance</option>
                                <option>By relevance</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="product-list">
                    @await Html.PartialAsync(PageConstants.ShopProductList, Model.Products)
                </div>

            </div>

        </div>

        <div class="mob-items js-to-2"></div>

    </div>
    <!-- SHOP END -->

</main>

@* Import script *@
@{
    ViewData["Scripts"] = new List<string>
    {
        "~/js/slick.js",
        "~/js/syotimer.js",
        "~/js/formstyler.js",
        "~/js/wnumb.js",
        "~/js/nouislider.js",
        "~/js/shop.js",
        "~/js/product.js"
    };
}
