@page "/shop"
@model ShopPageModel
@using StoreFront.Domain.Constants
@using StoreFront.Domain.Models.PageModels
@{
    ViewData["Title"] = "Shop";
}


<main class="main">

    @await Html.PartialAsync(PageConstants.Breadcrumb, new BreadcrumbViewModel() {
        Item = "Home",
        Url = "/Main/HomePage/Index",
        Title = "Shop"
    })

    <!-- BEGIN SHOP -->
    <div class="shop wrapper">
        <div class="shop__cols">

            <!-- BEGIN LEFT COLUMN -->
            <aside class="shop__left">

                <form>
                    <div class="search-form">
                        <input class="search-form__input" type="email" placeholder="Search">
                        <button class="search-form__button" type="submit"></button>
                    </div>
                </form>

                <div class="filters">
                    <section class="widget js-slidedown">
                        <h2 class="widget__title widget__title_hide-mob">Categories</h2>
                        <a class="widget__button js-slidedown-button" href="javascript:void(0);">Categories</a>
                        <div class="widget__hide js-slidedown-hide">
                            <ul class="side-nav">
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">All</a>
                                </li>
                                <li class="side-nav__item active">
                                    <a class="side-nav__link" href="#">Men</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Women</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Accessories</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">New Arrivals</a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="widget js-slidedown">
                        <h3 class="widget__title widget__title_hide-mob">Price</h3>
                        <a class="widget__button js-slidedown-button" href="javascript:void(0);">Price</a>
                        <div class="widget__hide js-slidedown-hide">
                            <div class="range">
                                <div class="range__slider" id="range-slider"></div>
                            </div>
                        </div>
                    </section>

                    <section class="widget js-more js-slidedown">
                        <h3 class="widget__title widget__title_hide-mob">Colors</h3>
                        <a class="widget__button js-slidedown-button" href="javascript:void(0);">Colors</a>
                        <div class="widget__hide js-slidedown-hide">
                            <div class="checkboxes">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Black</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox" checked>
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Blue</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Red</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Yellow</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Green</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Black</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox" checked>
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Blue</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Red</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Yellow</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <span class="checkbox__icon"></span>
                                        <span class="checkbox__text">Green</span>
                                    </label>
                                </div>
                            </div>
                            <a class="widget__deploy deploy-button js-more-button" href="#">Deploy</a>
                        </div>
                    </section>
                    <button class="apply-button button">
                        <span class="button__text">Apply filter</span>
                    </button>
                </div>

                <div class="desktop-items js-from-2">
                    <div class="side-items js-content-2">
                        <section class="widget">
                            <h3 class="widget__title">Reviewed by you</h3>
                            <div class="short-reviews">
                                <article class="reviewed">
                                    <div class="reviewed__cols">
                                        <div class="reviewed__left">
                                            <a class="reviewed__image-bg" href="product_page.html">
                                                <img class="reviewed__image" src="https://via.placeholder.com/75x85" alt="">
                                            </a>
                                        </div>
                                        <div class="reviewed__right">
                                            <h4 class="reviewed__title">
                                                <a class="reviewed__link" href="product_page.html">Retro style handbag</a>
                                            </h4>
                                            <span class="reviewed__price">$35.99</span>
                                            <span class="reviewed__old-price">$52.99</span>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviewed">
                                    <div class="reviewed__cols">
                                        <div class="reviewed__left">
                                            <a class="reviewed__image-bg" href="product_page.html">
                                                <img class="reviewed__image" src="https://via.placeholder.com/75x85" alt="">
                                            </a>
                                        </div>
                                        <div class="reviewed__right">
                                            <h4 class="reviewed__title">
                                                <a class="reviewed__link" href="product_page.html">Warm casual sweater</a>
                                            </h4>
                                            <span class="reviewed__price">$35.99</span>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviewed">
                                    <div class="reviewed__cols">
                                        <div class="reviewed__left">
                                            <a class="reviewed__image-bg" href="product_page.html">
                                                <img class="reviewed__image" src="https://via.placeholder.com/75x85" alt="">
                                            </a>
                                        </div>
                                        <div class="reviewed__right">
                                            <h4 class="reviewed__title">
                                                <a class="reviewed__link" href="product_page.html">Textured turtleneck with zip</a>
                                            </h4>
                                            <span class="reviewed__price">$35.99</span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </section>
                        <article class="sale-banner">
                            <div class="sale-banner__all">
                                <div class="sale-banner__row">
                                    <div class="sale-banner__cell">
                                        <div class="sale-banner__content">
                                            <h4 class="sale-banner__title">Season <span>sale</span></h4>
                                            <p class="sale-banner__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla</p>
                                            <a class="sale-banner__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sale-banner__border"></div>
                            <div class="sale-banner__image" data-bg="https://via.placeholder.com/548x400"></div>
                            <a class="sale-banner__link" href="shop.html"></a>
                        </article>
                    </div>
                </div>

            </aside>
            <!-- LEFT COLUMN END -->
            <!-- BEGIN RIGHT COLUMN -->
            <div class="shop__right">

                <div class="shop-panel">
                    <div class="shop-panel__left">
                        <span class="shop-panel__text">There are <b>67</b> products in&nbsp;this&nbsp;category</span>
                    </div>
                    <div class="shop-panel__right">
                        <div class="shop-panel__select select select_1">
                            <select class="js-formstyler">
                                <option>By relevance</option>
                                <option>By relevance</option>
                                <option>By relevance</option>
                                <option>By relevance</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="inner-catalog">
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_red">Sale</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Textured turtleneck with zip</a>
                            </h4>
                            <span class="short-item__price">$25.99</span>
                            <span class="short-item__old-price">$52.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Spray wrap skirt</a>
                            </h4>
                            <span class="short-item__price">$29.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Cotton T-shirt</a>
                            </h4>
                            <span class="short-item__price">$63.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Cotton T-shirt</a>
                            </h4>
                            <span class="short-item__price">$47.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_green">New</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Cotton T-shirt</a>
                            </h4>
                            <span class="short-item__price">$38.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_red">Sale</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Retro style handbag</a>
                            </h4>
                            <span class="short-item__price">$98.99</span>
                            <span class="short-item__old-price">$52.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Style Handbag</a>
                            </h4>
                            <span class="short-item__price">$180.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_green">New</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Blouse with insert and ruffles</a>
                            </h4>
                            <span class="short-item__price">$30.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_red">Sale</span>
                                        <span class="item-tag item-tag_green">New</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Long oversized T-shirt</a>
                            </h4>
                            <span class="short-item__price">$15.99</span>
                            <span class="short-item__old-price">$52.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Stylish and comfortable cap</a>
                            </h4>
                            <span class="short-item__price">$40.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_green">New</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">Shoulder bag</a>
                            </h4>
                            <span class="short-item__price">$210.99</span>
                        </div>
                    </article>
                    <article class="short-item">
                        <div class="short-item__all">
                            <a class="short-item__image-bg" href="product_page.html">
                                <img class="short-item__image" src="https://via.placeholder.com/262x360" alt="">
                            </a>
                            <div class="short-item__top">
                                <div class="short-item__cols">
                                    <div class="short-item__col">
                                        <span class="item-tag item-tag_red">Sale</span>
                                    </div>
                                    <div class="short-item__col">
                                        <button class="heart-button js-toggle-active"></button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="short-item__title">
                                <a class="short-item__link" href="product_page.html">High-heeled shoes</a>
                            </h4>
                            <span class="short-item__price">$70.99</span>
                            <span class="short-item__old-price">$52.99</span>
                        </div>
                    </article>
                </div>

                <div class="page-nav">
                    <div class="page-nav__col">
                        <a class="page-nav__button prev-button" href="#"></a>
                    </div>
                    <div class="page-nav__col">
                        <ul class="page-nav__list">
                            <li class="page-nav__item active">
                                <a class="page-nav__link" href="#">1</a>
                            </li>
                            <li class="page-nav__item">
                                <a class="page-nav__link" href="#">2</a>
                            </li>
                            <li class="page-nav__item">
                                <a class="page-nav__link" href="#">3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-nav__col">
                        <a class="page-nav__button next-button" href="#"></a>
                    </div>
                </div>

            </div>
            <!-- RIGHT COLUMN END -->

        </div>

        <div class="mob-items js-to-2"></div>

    </div>
    <!-- SHOP END -->
    <!-- BEGIN NEWSLETTER -->
    <aside class="newsletter">
        <div class="newsletter__banner" data-bg="https://via.placeholder.com/1680x450">
            <div class="newsletter__main">
                <div class="newsletter__bg">
                    <div class="newsletter__max">
                        <h4 class="newsletter__title">Newsletter</h4>
                        <p class="newsletter__text">Be the first to hear about deals,  offers and upcoming collections.</p>
                        <form>
                            <div class="newsletter-form">
                                <div class="newsletter-form__left">
                                    <input class="newsletter-form__input text-input" type="email" placeholder="Enter your email">
                                </div>
                                <div class="newsletter-form__right">
                                    <button class="newsletter-form__button button">
                                        <span class="button__text">Subscribe</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <img class="newsletter__vector" src="img/svg/vector-newsletter.svg" alt="">
                </div>
            </div>
        </div>
    </aside>
    <!-- NEWSLETTER END -->

</main>

@* Import script *@
@{
    ViewData["Scripts"] = new List<string>
    {
        "~/js/slick.js",
        "~/js/syotimer.js",
        "~/js/formstyler.js",
        "~/js/wnumb.js",
        "~/js/nouislider.js"
    };
}