@page "/products/{slug}"
@model StoreFront.Pages.Main.ProductPage.IndexModel
@using StoreFront.Domain.Constants
@using StoreFront.Domain.Models.PageModels
@{
    ViewData["Title"] = "Product Detail";
    var product = Model.Product;
}

@{
    ViewData["Styles"] = new List<string>
    {
        "~/css/product.css"
    };
}

<main class="main">
    @await Html.PartialAsync(PageConstants.Breadcrumb, new BreadcrumbViewModel()
    {
        Item = "Product",
        Url = PageConstants.ShopPage,
        Title = "Product Detail"
    })

    <!-- BEGIN PRODUCT CARD -->
    @await Html.PartialAsync(PageConstants.ProductDetail, product);
    <!-- PRODUCT CARD END -->

    <!-- BEGIN PRODUCT TABS -->
    <div class="product-tabs wrapper">

        <div class="product-nav tabs-nav js-line">
            <ul class="product-nav__list tabs-nav__list tabs-nav__list_left">
                <li class="tabs-nav__item js-tabs-item js-line-item">
                    <a class="tabs-nav__link js-line-link js-tabs-link" href="#product-tab-1">Description</a>
                </li>
                <li class="tabs-nav__item js-line-item js-tabs-item active">
                    <a class="tabs-nav__link js-line-link js-tabs-link" href="#product-tab-2">Reviews</a>
                </li>
            </ul>
            <div class="tabs-nav__line js-line-element"></div>
        </div>

        <!-- BEGIN DESCRIPTION -->
        <div class="product-tab js-tabs-content" id="product-tab-1">
            @product.Description
        </div>
        <!-- DESCRIPTION END -->
        <!-- BEGIN REVIEWS -->
        <div class="product-tab js-tabs-content active" id="product-tab-2">
            <div class="product-tab__cols">

                <!-- BEGIN REVIEWS -->
                @await Component.InvokeAsync(PageConstants.ReviewProduct, product.Id)
                <!-- REVIEWS END -->
                <!-- BEGIN ADD REVIEW -->
                @await Component.InvokeAsync(PageConstants.FeedbackProduct, product.Id)
                <!-- ADD REVIEW END -->

            </div>
        </div>
        <!-- REVIEWS END -->

    </div>
    <!-- PRODUCT TABS END -->

    <!-- BEGIN BEST SELLERS -->
    @await Component.InvokeAsync(PageConstants.RecommendProduct, Model.Slug)
    <!-- BEST SELLERS END -->

</main>

@* Import script *@
@{
    ViewData["Scripts"] = new List<string>
    {
        "~/js/slick.js",
        "~/js/formstyler.js",
        "~/js/rating.js",
        "~/js/fancybox.js",
        "~/js/product.js"
    };
}